.profile {
    display: flex;
    flex-direction: row;
    margin: 40px auto 0;
    max-width: calc(100% - 400px);
    
}

@media screen and (max-width: 1070px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        max-width: calc(100% - 38px);
        margin-top: 42px;
    }
}