.login__save-button {
    width: 100%;
    padding: 0;
    margin-top: 216px;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .login__save-button {
        height: 24px;
        height: 46px;
        margin-top: 173px;
        font-size: 20px;
    }
}