.header__logout {
    color: #A9A9A9;
    text-align: right;
    background-color: black;
    border-style: none;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.header__logout:hover {
    opacity: 0.8;
}