/*подключаем сброс стилей*/
@import url(./vendor/normalize.css);

@import url(./blocks/body/body.css);
/*подключаем шрифты*/
@import url(./vendor/fonts.css);


/*блок page*/
@import url(./blocks/page/page.css);


/*блок header*/
@import url(./blocks/header/header.css);

@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);


/*блок content*/
@import url(./blocks/content/content.css);


/*блок profile*/
@import url(./blocks/profile/profile.css);

@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__author/profile__author.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__brief/profile__brief.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__pen/profile__pen.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__plus/profile__plus.css);
@import url(./blocks/profile/__image/profile__image.css);


/*блок cards*/
@import url(./blocks/cards/cards.css);

@import url(./blocks/cards/__card/cards__card.css);
@import url(./blocks/cards/__name/cards__name.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__like-button/cards__like-button.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/cards/__field/cards__field.css);
@import url(./blocks/cards/__like-container/cards__like-container.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);

@import url(./blocks/cards/__like-button/_active/cards__like-button_active.css);

/*блок login*/
@import url(./blocks/login/login.css);

@import url(./blocks/login/__container/login__container.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__set/login__set.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__error-container/login__error-container.css);
@import url(./blocks/login/__save-button/login__save-button.css);


/*блок popup*/
@import url(./blocks/popup/popup.css);

@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__text-error/popup__text-error.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__cross/popup__cross.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__set/popup__set.css);
@import url(./blocks/popup/__error-container/popup__error-container.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup/_type/popup_type_image.css);

@import url(./blocks/popup/__text-error/_active/popup__text-error_active.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);

/*блок add-popup*/

@import url(./blocks/popup/__create-button/popup__create-button.css);


/*блок image-popup*/
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/__figure/popup__figure.css);


/*блок footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
