.profile__author {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

@media screen and (max-width: 500px) {
    .profile__author {
        gap: 8px;
        align-self: auto;
    }
}