.cards__name {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 900;
    font-size: 24px;
    height: 23px;
    max-width: 210px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}